.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form input {
  margin-top: 4px;
}

.button {
  justify-content: center;
  background-color: aqua;
  display: flex;
  padding: 4px;
  width: 80px;
}
